:root {
  --main-font-family: 'Montserrat';
  --header-background-color: #000;
  --header-color: #fff;
  --modal-border-radius: 10px;
  --card-gap: 40px;
  --modal-background-color: #15172b;
  --form-background-color: #15172b;
  --input-background-color: #303245;
  --input-text-color: #c8c8c8;
}
