.container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  align-items: start;
  gap: var(--card-gap, 40px);
  margin-block-start: 30px;
}


.card {
  background-color: var(--modal-background-color);
  color: #fff;
  border-radius: var(--modal-border-radius, 10px);
}
