@use "../../styles/mixins.scss";

.container {
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 350px;
  border-radius: 10px;
  box-shadow: 3px -3px 10px rgba(0 0 0 / 0.4);
  overflow: hidden;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.poster {
  border-start-start-radius: inherit;
  border-end-start-radius: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.2s ease-in-out;

  &:hover {
    background-size: 110%;
  }

  &__container {
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    inline-size: 100%;
  }

  &__img {
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    transition: scale 0.2s ease-in-out;
    inline-size: 100%;
    &:hover {
      scale: 1.07;
    }
  }
}

.info {
  margin-block-start: 20px;
  padding: 10px;

  &__title-container {
    margin-block-end: 25px;
    @include mixins.flex(row, space-between, center);
  }

  &__title {
    font-size: 25px;
  }
  &__year {
    margin-block-end: 10px;
  }

  &__country {
    margin-block-end: 15px;
  }

  &__description {
    position: relative;
    max-height: calc(6 * 1em);
    overflow: hidden;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, transparent, #000);
      pointer-events: none;
      block-size: calc(1em);
      inline-size: 100%;
    }
  }
}

.button {
  @include mixins.button();
  @include mixins.flex(row, center, center);
}

.button-like {
  transition: scale 0.2s ease-in-out;
}

.button-like__svg {
  color: transparent;
  transition: color 0.2s ease-in-out;
}

.button-like_active .button-like__svg {
  color: #fff;
}

.button-like:hover {
  scale: 1.1;
}

.button-remove {
  position: absolute;
  border-start-start-radius: inherit;
  border-end-end-radius: inherit;
  padding: 5px;
  background-color: rgba(255 0 0 / 0.5);
  transition: translate 0.2s ease-in-out;
  translate: -100%;
}

.container:has(:hover) .button-remove {
  translate: 0;
}
