@use "../../styles/mixins.scss";

.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0 0 0 / 0.65);
  @include mixins.flex(row, center, center);
}

.modal {
  position: relative;
  border-radius: 10px;
  background-color: #000;
  inline-size: 500px;
  block-size: 500px;
}

.button {
  position: absolute;
  inset-inline-end: -50px;
  inset-block-start: -50px;
  @include mixins.button();
  color: #fff;
}
