@use "../../styles/mixins.scss";

.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0 0 0 / 0.65);
  @include mixins.flex(row, center, center);
  z-index: 3;
}

.modal {
  flex-basis: 700px;
  position: relative;
  border-radius: var(--modal-border-radius, 10px);
  background-color: var(--modal-background-color, #000);
  color: #fff;
}

