@use "../../styles/mixins.scss";

.container {
  position: relative;
  display: grid;
  grid-template-columns: 320px 1fr;
  overflow: hidden;
  font-size: 18px;
  background-color: var(--modal-background-color);
  color: #fff;
  border-radius: var(--modal-border-radius, 10px);
  &_card {
    grid-template-columns: 250px 1fr;
    border-radius: var(--modal-border-radius, 10px);
    box-shadow: 3px -3px 10px rgba(0 0 0 / 0.4);
    font-size: 16px;
  }
}

.poster {
  border-start-start-radius: var(--modal-border-radius, 10px);
  border-end-start-radius: var(--modal-border-radius, 10px);
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__img {
    display: block;
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    object-fit: cover;
    transition: scale 0.2s ease-in-out;
    inline-size: 100%;
    block-size: 100%;
    min-block-size: 375px;
  }
  &:has(:hover) &__img {
    scale: 1.07;
  }
}

.info {
  margin-block-start: 20px;
  padding: 10px;
  @include mixins.flex(column, flex-start, stretch);
  &__title-container {
    margin-block-end: 25px;
    @include mixins.flex(row, space-between, center);
  }
  &__title {
    font-size: 28px;
    &_card {
      font-size: 23px;
    }
  }
  &__year {
    margin-block-end: 10px;
  }
  &__country {
    margin-block-end: 15px;
  }
  &__description {
    position: relative;
    flex-grow: 1;
    overflow-wrap: break-word;
    max-inline-size: 700px;
    &_card {
      max-height: calc(10 * 1em);
      max-inline-size: 230px;
      overflow: hidden;
      line-height: 1;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, transparent, #000);
        pointer-events: none;
        block-size: calc(1em);
        inline-size: 100%;
      }
    }
  }
}

.container:has(:hover) [data-button-remove] {
  translate: 0;
}

.panel {
  @include mixins.flex(row, space-around, center);
  position: absolute;
  inline-size: 100%;
  block-size: 40px;
  background-color: rgba(0 0 0 / 0.5);
  translate: 0 -100%;
  z-index: 1;
  transition: translate 0.15s ease-in-out;
  .container:has(:hover) & {
    translate: 0;
  }
}
