@use "../../styles/mixins.scss";

.container {
  border-radius: inherit;
  padding: 22px;
  background-color: var(--form-background-color);
}

.form {
  gap: 20px;
  font-size: 18px;
  @include mixins.flex(column, center, stretch);
}

.title {
  margin-block-end: 25px;
  font-size: 32px;
  text-align: center;
}

.label {
  @include mixins.flex(column, flex-start, flex-start);

  &__input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-block-start: 7px;
    border: none;
    border-radius: 6px;
    padding: 8px;
    color: var(--input-text-color, #c8c8c8);
    font-size: 22px;
    background-color: var(--input-background-color, #303245);
    inline-size: 100%;
    appearance: none;

    &_number::-webkit-outer-spin-button,
    &_number::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &_number {
      -moz-appearance: textfield;
    }
  }
  &__textarea {
    resize: none
  }
}

.button {
  @include mixins.button();
  margin-block-start: 10px;
  border: 1px solid #858da3;
  border-radius: 14px;
  padding: 14px;
  transition: background-color 0.15s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    border: 1px solid var(--button-disabled-color, #555555);
    color: var(--button-disabled-color, #555555);
  }

  &:hover {
    background-color: #323e61;
  }
}
